html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 13px;
    background-color: #AEAEAE;
}

.pl10 {
	padding-left: 10px;
}

.pointer {
	cursor: pointer;
}

.playlists {
	float: left;
	padding: 3px 6px 0px 6px;
	height: 23px;
	text-align: left;
	color: #888888;
	font-size: small;
	background: url('/img/playlist-header-bnd-def.png') repeat-x;
}

.volume {
	margin: 0 10px 0 10px;
}

.playing {
	margin: 0 5px 0 0;
}

a {
    color: #0F45A1;
	text-decoration: none;
}

img#repeat-file-status {
    cursor: pointer;
}

div#top-menu {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

div#playlist-place {
    margin-top: 135px;
}

div#volume-slider {
    margin: 0 15px 0 0px;
    width: 100px;
}

div#player-control-bar {
    height: 35px;
    line-height: 35px;
    background: url('/img/player-control-bar-bnd.png')  repeat-x;
}

div#playlist-list-place {
    height: 23px;
    background: url('/img/playlist-header-bnd-def.png') repeat-x;
    overflow: hidden;
}

ul#playlist-table {
    margin: 0;
    padding: 0;
    background-color: #AEAEAE;
    width: 100%;
    list-style: none;
}

ul#playlist-table li {
    width: 100%;
}

ul#playlist-table li.song-current-playing {
    background-color: #0F67A1;
    color: white;
}

ul#playlist-table li.song-current-playing a  {
    color: white;
}

ul#playlist-table li:hover {
    background-color: #ABCDEF;
}

ul#playlist-table li table {
    width: 100%;
}

ul#playlist-table li table tr td.playlist-song-queue {
	width: 40px;
}

ul#playlist-table li table tr td.playlist-song-name {
}

ul#playlist-table li table tr td.playlist-song-delete {
    padding-left: 5px;
    width: 20px;
    font-weight: bold;
}

ul#playlist-table li table tr td.playlist-song-num {
    width: 40px;
    font-weight: bold;
}

ul#playlist-table li table tr td.playlist-song-length {
    width: 45px;
}

select#playlist-list-table {
	margin: 0;
	padding: 0;
	list-style: none;
	background: url('/img/playlist-header-bnd-def.png') repeat-x;
	border: 0;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	color: maroon;
	-webkit-appearance: none;
}

option.playlist-list-name {
    font-family: Tahoma;
    font-size: 11px;
    color: maroon !important;
    padding: 3px 0;
    margin: 0;
    background-color: white;
}

option.playlist-list-name.selected {
    background-color: #ffff00;
}

option.playlist-list-name.playing {
    background-color: #aadd33;
}

span#song-current-id {
 color: #0F45A1;
 margin-right: 5px;
 margin-left: 5px;
}

div.clr {
	clear: both;
	height: 0;
}
